
canvas {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

#buildImage img {
    position: absolute;
    -webkit-transition:opacity .3s;
    transition:opacity .3s;
}

